# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build artifacts
node_modules
dist
dist-electron
dist-ssr
release
release.md
*.local
.purrsonica_data

# Binaries & Installers
*.exe
*.blockmap
*.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
